{%extends "base.html" %}

{% block content %}
    <h1><br><br></h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">A+ games</h1>
          <p class="lead">wery important text</p>
        </div>
      </div>
    <div class="container">
        <div class="row">
              <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                  <div class="card">
                    <img src="https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702771200&semt=ais" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">wery important text</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702771200&semt=ais" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">wery important text</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702771200&semt=ais" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">wery important text</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702771200&semt=ais" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text" translateY="50%">wery important text</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    
    </div>
    <br><br>
    <style>
        body{
          background-image: url(https://www.bhmpics.com/downloads/space-stars-4k-Wallpapers/20.space-stars-purple-sky-3n-1600x900.jpg);
        }
        .card{
          background-color: rgb(36, 37, 38);
          color: white;
        }
        .jumbotron{
          margin-left: 380px;
          width: 60%;
          height: 200px;
          background-color: rgb(37, 42, 63);
          color: white;
          text-align: center;
        }
    </style>
{% endblock %}
